<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Product</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('_bootstrap') %>
        <h2 style="display: flex;justify-content: center;align-items: center;">Checkout Product <%= data.name %></h2><br>
        <div style="display: flex;justify-content: center;align-items: center;">
            <img src="<%= data.imageUrl %>" class="card-img-top" alt="<%= data.name %> image" style="width:250px">
        </div>
        <div style="display: flex;justify-content: center;align-items: center;">
            <p>Product Name: <%= data.name %></p>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;">
            <p>Price: <%= formatter(data.price) %></p>
        </div>
        <div style="display: flex;justify-content: center;align-items: center;">
            <a href="/buyerHomePage/checkout/<%= data.id %>" target="_blank" class="btn btn-primary">Checkout</a>  
        </div><br>
        <div style="display: flex;justify-content: center;align-items: center;">
            <a href="/buyerHomePage" class="btn btn-primary">Back</a>  
        </div>                               
</body>

</html>
