<!-- HomePage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
</head>
<body>
    <%- include('_navSeller') %>
    
    <div class="container">
                <h1>You're a Fine Seller</h1><br>
                <a href="/home/addProduct" type="button" class="btn btn-primary">Add Product</a><br><br>
                <% if (deleteProduct) { %>
                 <p style="color:red">Product <%= deleteProduct %> has been removed</p>
                <% } %>

                <form class="d-flex justify-content-center">
                    <div class="col-md-3">
                        <input
                            class="form-control form-control-sm"
                            type="text"
                            placeholder="Search"
                            aria-label="Search"
                            name="search"
                        />
                    </div>
                    <div class="col-md-2 d-flex align-items-center">
                        <button class="btn btn-outline-success" type="submit" style="margin-left: 5px;">Search</button>
                    </div>
                </form><br>
                
        <div class="row">
            <% products.forEach(product => { %>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="<%= product.imageUrl %>" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text">Price: <%= formatter(product.price) %></p>
                        <p class="card-text">Description: <%= product.description %></p>
                        <p class="card-text">Stock: <%= product.stock %></p>
                        <a href="/sellerHomePage/edit/<%= product.id %>"><button type="button" class="btn btn-warning">Edit</button></a>
                        <a href="/sellerHomePage/delete/<%= product.id %>"><button type="button" class="btn btn-danger">Delete</button></a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <%- include('_bootstrap') %>
</body>
</html>
