<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Form</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%= JSON.stringify(data) %>
    <div class="container">
        <div class="navbar">
            <h2>Complete Profile</h2>
        </div>
        <form method="POST">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <% if (error) { %>
                 <% const errorSplit = error.split(",") %>
                 <p style="color:red">
                    <%= errorSplit.find((el) => el.includes("Name")) %>
                 </p>
                <% } %>
            </div>

            <div>
                <label for="address">Address:</label>
                <input type="text" id="address" name="address">
                <% if (error) { %>
                    <% const errorSplit = error.split(",") %>
                    <p style="color:red">
                       <%= errorSplit.find((el) => el.includes("Address")) %>
                    </p>
                   <% } %>
            </div>

            <div>
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" name="phone">
                <% if (error) { %>
                    <% const errorSplit = error.split(",") %>
                    <p style="color:red">
                       <%= errorSplit.find((el) => el.includes("Phone Number")) %>
                    </p>
                   <% } %>
            </div><br>

            <div>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" value="<%= data.id %>">
            </div><br>

            <a href="/sellerHomePage" class="btn btn-warning">Back</a>
            <button type="submit" style="font-weight:bold">Complete Profile</button>
        </form>
    </div>
    
</body>

</html>
