<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
    width: 80%;
    max-width: 400px; /* Membatasi lebar maksimum */
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

        h1 {
            text-align: center;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="email"],
        input[type="password"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 8px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            box-sizing: border-box;
        }

        button:hover {
            background-color: #555;
        }

        p.error {
            color: red;
            margin-top: 5px;
        }

        em {
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="display: flex;justify-content: center;align-items: center;">
        <h1>Sign up</h1>
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
        <p>Create your account</p>
    </div><br>
    <div class="container" style="display: flex;justify-content: center;align-items: center;"><br><br>
        <form method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Insert email"><br>
        <% if (error) { %>
            <% const errorSplit = error.split(",") %>
            <p style="color:red">
               <%= errorSplit.find((el) => el.includes("Email")) %>
            </p>
           <% } %> <br>
        <label for="password">Password</label><br>
        <input type="password" name="password" value="" placeholder="Insert password"><br>
        <% if (error) { %>
            <% const errorSplit = error.split(",") %>
            <p style="color:red">
               <%= errorSplit.find((el) => el.includes("Password")) %>
            </p>
           <% } %> <br>

        <label for="role">Role</label><br>
        <select name="role">
            <option value="">Choose...</option>
            <% const array = ["Seller", "Buyer"] %>
            <% array.forEach(element => { %>
                <option value="<%= element %>"><%= element %></option>
            <% }) %>
        </select><br>
        <% if (error) { %>
            <% const errorSplit = error.split(",") %>
            <p style="color:red">
               <%= errorSplit.find((el) => el.includes("Role")) %>
            </p>
           <% } %> <br>

        <button type="submit">Sign Up</button><br><br>
        <p>Already have an account? <a href="/home"><b>Login</b></a></p>
        </form>
        <form action=""></form>
    </div>
    <%- include('_bootstrap') %>
</body>
</html>