<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error) { %>
     <% const errorSplit = error.split(",") %>
     <p style="color:red">
        <%= errorSplit.find((el) => el.includes("email")) %>
     </p>
    <% } %> <br>
    <h1>Welcome to Ur Fine</h1><br>
    <em>Please complete the sign up below</em><br>
    <div class="container"><br><br>
        <form method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="Insert email"><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" value="" placeholder="Insert password"><br>
        <% if (error) { %>
            <% const errorSplit = error.split(",") %>
            <p style="color:red">
               <%= errorSplit.find((el) => el.includes("Password")) %>
            </p>
           <% } %> <br>

        <label for="role">Role</label><br>
        <select name="role">
            <option value="">Choose...</option>
            <% const array = ["Seller", "Buyer"] %>
            <% array.forEach(element => { %>
                <option value="<%= element %>"><%= element %></option>
            <% }) %>
        </select><br>
        <% if (error) { %>
            <% const errorSplit = error.split(",") %>
            <p style="color:red">
               <%= errorSplit.find((el) => el.includes("Role")) %>
            </p>
           <% } %> <br>

        <button type="submit">Sign Up</button>
        </form>
        <form action=""></form>
    </div>
    <%- include('_bootstrap') %>
</body>
</html>